<!-- Menú superior -->
<p-menubar [model]="items">

  <ng-template pTemplate="start">
    <div class="p-mr-2">
      <p-button type="text" (click)="displaySidebar = true" icon="pi pi-bars"></p-button>
    </div>
  </ng-template>

  <!-- Items -->

  <ng-template pTemplate="end">
    <p-dropdown [options]="rightMenuItems" optionLabel="label" class="p-mr-3">
      <ng-template let-item pTemplate="item">
        <div class="country-item">
          <div class="p-p-2">
            <a *ngIf="item.routerLink" [routerLink]="item.routerLink">
              {{ item.label }}
            </a>
            <div *ngIf="!item.routerLink">
              {{ item.label }}
            </div>
          </div>
        </div>
      </ng-template>
    </p-dropdown>
  </ng-template>

</p-menubar>

<!-- Menu de navegación lateral -->
<p-sidebar [(visible)]="displaySidebar" [showCloseIcon]="false"
  [transitionOptions]="'600ms cubic-bezier(0, 0, 0.5, 1)'">
  <div class="container-item" *ngFor="let item of sidebarMenu">
    <a *appPermission="item.permission" [routerLink]="item.link" class="router-link-nav">
      <div class="item-sidebar">
        <i [ngClass]="item.icon ? item.icon : 'pi pi-circle-on'"></i> {{ item.label }}
      </div>
    </a>
  </div>
</p-sidebar>
