@import "colors.scss";

.text-sm {
  font-size: 12px;
}
.text-md {
  font-size: 16px;
}
.text-white {
  color: white;
}
.text-secondary {
  color: $secondary-color;
}
.text-primary-light {
  color: $primary-color-light;
}
.text-primary-color {
  color: $primary-color;
}
