<div class="p-d-flex">
  <div></div>
  <div class="p-ml-auto">
    <p-button (click)="addUser()" label="Nuevo usuario" icon="pi pi-plus"></p-button>
  </div>
</div>

<div class="card" *appPermission="{permission:36}">
  <h5>Usuarios</h5>
  <p-table [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-sm"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} items" [rowsPerPageOptions]="[5,10,25,50]"
    [value]="users" selectionMode="single" [(selection)]="userSelected" dataKey="id" (onRowSelect)="onRowSelect()">

    <ng-template pTemplate="header">
      <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th>Nombres</th>
        <th>Apellido</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td style="text-align: center;">
          <span *ngIf="user.is_active" class="status enable">Activo</span>
          <span *ngIf="!user.is_active" class="status disable">Inactivo</span>
        </td>
        <td style="text-align: center;">
          <div *ngIf="user.is_active">
            <button *appPermission="{permission:[5,6,7,8], allRequired:true}" pButton pRipple type="button" icon="pi pi-unlock"
              class="p-button-rounded p-mr-2" style="background-color: brown; border-color: brown;"
              (click)="editPermissions(user)" title="Editar permisos usuario"></button>
            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2"
              (click)="editUser(user)" title="Editar usuario"></button>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
              (click)="disableUser(user)" title="Deshabilitar usuario"></button>
          </div>
          <button pButton pRipple type="button" icon="pi pi-replay" class="p-button-rounded p-button-warning"
            *ngIf="!user.is_active" (click)="enableUser(user)" title="Habilitar usuario"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No hay usuarios.</td>
      </tr>
    </ng-template>

  </p-table>
</div>
